{% extends "baseProms.html" %}
{% block title %}ALLQuantification{% endblock %}
{% block content %}
   {% for anaQuantif in Ana_Quantification %}
<div class ="anaQuantif">

   <h3>  id_quantification {{anaQuantif.id_quantification}} </h3>
   <h3>  id_analysis {{anaQuantif.id_analysis}} </h3>
   <h3>  quantif_file{{anaQuantif.quantif_file}} </h3>
   <h3>   is_reference {{anaQuantif.is_reference}} </h3>
   <p><a href="{% url 'AnaQuanti' anaQuantif.id_quantification %}">lien</a></p>
</div>

{%empty%}
<p> aucune Quanti</p>
{%endfor%}
{% endblock %}













